## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
dropped_df = application_df.drop(columns=["EIN", "NAME"])

dropped_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
dropped_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
dropped_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500
# use the variable name `application_types_to_replace`
application_types_to_replace = dropped_df['APPLICATION_TYPE'].value_counts()[dropped_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
dropped_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
dropped_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
dropped_df['CLASSIFICATION'].value_counts()[dropped_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 1000
# use the variable name `classifications_to_replace`
classifications_to_replace = dropped_df['CLASSIFICATION'].value_counts()[dropped_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
dropped_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(dropped_df)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
X= dummies_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

#Create input Layer
nn.add(tf.keras.layers.Input(shape=[43]))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=7, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 7)              │           308 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 8)              │            64 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 381 (1.49 KB)

 Trainable params: 381 (1.49 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 285us/step - accuracy: 0.6787 - loss: 0.6315
Epoch 2/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 259us/step - accuracy: 0.7268 - loss: 0.5674
Epoch 3/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 261us/step - accuracy: 0.7249 - loss: 0.5622
Epoch 4/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 260us/step - accuracy: 0.7289 - loss: 0.5530
Epoch 5/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 258us/step - accuracy: 0.7302 - loss: 0.5502
Epoch 6/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7264 - loss: 0.5551
Epoch 7/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 273us/step - accuracy: 0.7308 - loss: 0.5498
Epoch 8/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 278us/step - accuracy: 0.7299 - loss: 0.5517
Epoch 9/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 272us/step - accuracy: 0.7259 - loss: 0.5557
Epoch 10/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7286 - loss: 0.5515
Epoch 11/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7294 - loss: 0.5495
Epoch 12/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 262us/step - accuracy: 0.7311 - loss: 0.5486
Epoch 13/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7318 - loss: 0.5484
Epoch 14/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 301us/step - accuracy: 0.7302 - loss: 0.5536
Epoch 15/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 283us/step - accuracy: 0.7299 - loss: 0.5505
Epoch 16/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 281us/step - accuracy: 0.7328 - loss: 0.5474
Epoch 17/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 279us/step - accuracy: 0.7332 - loss: 0.5484
Epoch 18/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 279us/step - accuracy: 0.7290 - loss: 0.5506
Epoch 19/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 272us/step - accuracy: 0.7324 - loss: 0.5498
Epoch 20/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7331 - loss: 0.5499
Epoch 21/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7296 - loss: 0.5502
Epoch 22/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7384 - loss: 0.5418
Epoch 23/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 274us/step - accuracy: 0.7306 - loss: 0.5463
Epoch 24/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7264 - loss: 0.5539
Epoch 25/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7275 - loss: 0.5537
Epoch 26/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7282 - loss: 0.5487
Epoch 27/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7303 - loss: 0.5474
Epoch 28/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7298 - loss: 0.5454
Epoch 29/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7249 - loss: 0.5545
Epoch 30/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7331 - loss: 0.5466
Epoch 31/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7325 - loss: 0.5447
Epoch 32/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 262us/step - accuracy: 0.7291 - loss: 0.5485
Epoch 33/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7299 - loss: 0.5505
Epoch 34/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7271 - loss: 0.5480
Epoch 35/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7271 - loss: 0.5520
Epoch 36/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7324 - loss: 0.5451
Epoch 37/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7310 - loss: 0.5479
Epoch 38/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7306 - loss: 0.5472
Epoch 39/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7300 - loss: 0.5477
Epoch 40/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7299 - loss: 0.5474
Epoch 41/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7335 - loss: 0.5467
Epoch 42/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7328 - loss: 0.5453
Epoch 43/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7314 - loss: 0.5473
Epoch 44/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7328 - loss: 0.5461
Epoch 45/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7296 - loss: 0.5466
Epoch 46/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7324 - loss: 0.5436
Epoch 47/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7394 - loss: 0.5413
Epoch 48/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7355 - loss: 0.5416
Epoch 49/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 271us/step - accuracy: 0.7345 - loss: 0.5454
Epoch 50/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7294 - loss: 0.5504

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 296us/step - accuracy: 0.7291 - loss: 0.5560
Loss: 0.5560259819030762, Accuracy: 0.7290962338447571

In [25]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')